In [176]:
import pandas as pd

In [177]:
def clean_row_ids(row):
    row['relation_id'] = row['relation_id'].replace('dict_keys(', '')
    row['relation_id'] = row['relation_id'].replace(')', '')
    row['relation_id'] = row['relation_id'].replace("'", '')
    row['relation_id'] = row['relation_id'].replace("[", '')
    row['relation_id'] = row['relation_id'].replace("]", '')

    return row['relation_id']

def clean_relation_labels(row):
    row['relation_labels'] = row['relation_labels'].replace('dict_values(', '')
    row['relation_labels'] = row['relation_labels'].replace(')', '')
    row['relation_labels'] = row['relation_labels'].replace("'", '')
    row['relation_labels'] = row['relation_labels'].replace("[", '')
    row['relation_labels'] = row['relation_labels'].replace("]", '')
    
    return row['relation_labels']

In [178]:
def clean_relation_labels_original(row):
    row['relation labels'] = row['relation labels'].replace('dict_values(', '')
    row['relation labels'] = row['relation labels'].replace(')', '')
    row['relation labels'] = row['relation labels'].replace("'", '')
    row['relation labels'] = row['relation labels'].replace("[", '')
    row['relation labels'] = row['relation labels'].replace("]", '')
    
    return row['relation labels']

In [179]:
def combine_relations(row):
    relations = []
    relations_len = 0
    
    relations_obj = str(row['relation_obj_labels']).split(', ')
    if len(relations_obj) == 0:
        return row['relation labels']

    relations_sub = str(row['relation labels']).split(' , ')

    for i in range(max(len(relations_sub), len(relations_obj))):
        if i < len(relations_sub) and relations_sub[i] not in relations:
            relations.append(relations_sub[i].strip())
            
        if i < len(relations_obj) and relations_obj[i].strip() and relations_obj[i] not in relations and len(relations_obj[i]) < 40:
            relations.append(relations_obj[i].strip())
                   
    return relations

## Training Data

In [125]:
training_data_obj_1 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/training_data_find_obj.csv')
training_data_obj_2 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/training_data_find_obj_2.csv')

training_data_obj = pd.concat([training_data_obj_1, training_data_obj_2])

In [126]:
training_data_obj['relation_id'] = training_data_obj.apply(clean_row_ids, axis=1)
training_data_obj['relation_labels'] = training_data_obj.apply(clean_relation_labels, axis=1)

In [127]:
training_data_obj.head()

,qid,target_relation,questions,relation_id,relation_labels
0,Q126399,P272,what movie is produced by warner bros.,"employer, owned by, record label, producer, pr...","P108, P127, P264, P162, P272, P112, P750, P749..."
1,Q12439,P19,who is a musician born in detroit,"place of birth, home port, location, country o...","P19, P504, P276, P495, P483, P551, P291, P527,..."
2,Q7370831,P162,who produced the film rough house rosie,,
3,Q6817891,P364,what is the language in which mera shikar was ...,,
4,Q1297,P276,Whats the name of a battle that happened in ch...,"place of birth, residence, place of publicatio...","P19, P551, P291, P276, P180, P190, P195, P559,..."

In [128]:
training_data_obj = training_data_obj.drop_duplicates(subset=['questions', 'target_relation'])

In [129]:
len(training_data_obj)

33650

In [130]:
training_data_obj.head()

,qid,target_relation,questions,relation_id,relation_labels
0,Q126399,P272,what movie is produced by warner bros.,"employer, owned by, record label, producer, pr...","P108, P127, P264, P162, P272, P112, P750, P749..."
1,Q12439,P19,who is a musician born in detroit,"place of birth, home port, location, country o...","P19, P504, P276, P495, P483, P551, P291, P527,..."
2,Q7370831,P162,who produced the film rough house rosie,,
3,Q6817891,P364,what is the language in which mera shikar was ...,,
4,Q1297,P276,Whats the name of a battle that happened in ch...,"place of birth, residence, place of publicatio...","P19, P551, P291, P276, P180, P190, P195, P559,..."

In [131]:
training_data_obj = training_data_obj.rename(columns={'questions': 'question', 'relation_id': 'relation_obj_labels', 'relation_labels': 'relation_obj_ids', 'target_relation': 'target relation id'})

In [132]:
training_data_obj

,qid,target relation id,question,relation_obj_labels,relation_obj_ids
0,Q126399,P272,what movie is produced by warner bros.,"employer, owned by, record label, producer, pr...","P108, P127, P264, P162, P272, P112, P750, P749..."
1,Q12439,P19,who is a musician born in detroit,"place of birth, home port, location, country o...","P19, P504, P276, P495, P483, P551, P291, P527,..."
2,Q7370831,P162,who produced the film rough house rosie,,
3,Q6817891,P364,what is the language in which mera shikar was ...,,
4,Q1297,P276,Whats the name of a battle that happened in ch...,"place of birth, residence, place of publicatio...","P19, P551, P291, P276, P180, P190, P195, P559,..."
...,...,...,...,...,...
16881,Q196617,P20,where did maulana azad pass away,"spouse, child, named after, discoverer or inve...","P26, P40, P138, P61, P180, P674, P1891, P2959"
16882,Q36834,P106,what person is a composer?,"occupation, instance of, field of work, depict...","P106, P31, P101, P180, P279, P287, P301, P735,..."
16883,Q215,P19,Name a person born in slovenia.,"country of origin, country, place of publicati...","P495, P17, P291, P301, P921, P205, P183, P276,..."
16884,Q8072343,P495,Which country is the film zindagi khoobsoorat ...,,
16885,Q576886,P397,which orbit has relationship with 12426 racque...,"follows, followed by","P155, P156"

In [133]:
training_data = pd.read_csv('./3-Relation_Linking_Data/1-csv_format/training_data.csv').drop_duplicates()
len(training_data)

30882

In [134]:
training_data['relation labels'] = training_data.apply(clean_relation_labels_original, axis= 1)

In [135]:
training_data

,question,entity label,relation labels,target relation id,target relation label
0,what movie is produced by warner bros.,warner bros.,"Commons category , instance of , founded by...",P272,production company
1,who is a musician born in detroit,detroit,"topics main category , continent , country ...",P19,place of birth
2,who produced the film rough house rosie,rough house rosie,"IMDb ID , Commons category , instance of , ...",P162,producer
3,what is the language in which mera shikar was ...,mera shikar,"IMDb ID , instance of , director , cast me...",P364,original language of film or TV show
4,Whats the name of a battle that happened in ch...,chicago,"Dewey Decimal Classification , WOEID , topi...",P276,location
...,...,...,...,...,...
31222,What is the nationality of anthony bailey,anthony bailey,"instance of , sex or gender , given name , ...",P27,country of citizenship
31223,who was homi k. bhabha especially influenced by,homi k. bhabha,"VIAF ID , ISNI , Library of Congress author...",P737,influenced by
31224,which artist composes video game music,video game music,"topics main category , Freebase ID , Common...",P136,genre
31225,What gender is gastón filgueira,gastón filgueira,"member of sports team , occupation , date o...",P21,sex or gender
31226,what player played a defender?,defender,"Freebase ID , Commons category , topics mai...",P413,position played on team / speciality

In [136]:
new_training_data = pd.merge(training_data, training_data_obj, how="left", on='question')

In [137]:
new_training_data = new_training_data.drop_duplicates(subset=['question', 'target relation id_x', 'target relation id_y'])

In [138]:
new_training_data = new_training_data.reset_index(drop=True)

In [157]:
new_training_data

,question,entity label,relation labels,target relation id_x,target relation label,qid,target relation id_y,relation_obj_labels,relation_obj_ids,combined relations
0,what movie is produced by warner bros.,warner bros.,"Commons category , instance of , founded by...",P272,production company,Q126399,P272,"employer, owned by, record label, producer, pr...","P108, P127, P264, P162, P272, P112, P750, P749...","[Commons category, employer, instance of, owne..."
1,who is a musician born in detroit,detroit,"topics main category , continent , country ...",P19,place of birth,Q12439,P19,"place of birth, home port, location, country o...","P19, P504, P276, P495, P483, P551, P291, P527,...","[topics main category, place of birth, contine..."
2,who produced the film rough house rosie,rough house rosie,"IMDb ID , Commons category , instance of , ...",P162,producer,Q7370831,P162,,,"[IMDb ID, Commons category, instance of, direc..."
3,what is the language in which mera shikar was ...,mera shikar,"IMDb ID , instance of , director , cast me...",P364,original language of film or TV show,Q6817891,P364,,,"[IMDb ID, instance of, director, cast member, ..."
4,Whats the name of a battle that happened in ch...,chicago,"Dewey Decimal Classification , WOEID , topi...",P276,location,Q1297,P276,"place of birth, residence, place of publicatio...","P19, P551, P291, P276, P180, P190, P195, P559,...","[Dewey Decimal Classification, place of birth,..."
...,...,...,...,...,...,...,...,...,...,...
30879,What is the nationality of anthony bailey,anthony bailey,"instance of , sex or gender , given name , ...",P27,country of citizenship,Q16093542,P27,,,"[instance of, sex or gender, given name, occup..."
30880,who was homi k. bhabha especially influenced by,homi k. bhabha,"VIAF ID , ISNI , Library of Congress author...",P737,influenced by,Q325741,P737,"spouse, author","P26, P50","[VIAF ID, spouse, ISNI, author, Library of Con..."
30881,which artist composes video game music,video game music,"topics main category , Freebase ID , Common...",P136,genre,Q1062702,P136,"field of work, instance of, genre, subclass of...","P101, P31, P136, P279, P921, P1382, P1889, P30...","[topics main category, field of work, Freebase..."
30882,What gender is gastón filgueira,gastón filgueira,"member of sports team , occupation , date o...",P21,sex or gender,Q926822,P21,,,"[member of sports team, occupation, date of bi..."
30883,what player played a defender?,defender,"Freebase ID , Commons category , topics mai...",P413,position played on team / speciality,Q336286,P413,"position played on team / speciality, subclass...","P413, P279, P301, P39, P106, P86, P5137, P2868...","[Freebase ID, position played on team / specia..."

In [140]:
new_training_data['combined relations'] = new_training_data.apply(combine_relations, axis = 1)

In [158]:
new_training_data

,question,entity label,relation labels,target relation id_x,target relation label,qid,target relation id_y,relation_obj_labels,relation_obj_ids,combined relations
0,what movie is produced by warner bros.,warner bros.,"Commons category , instance of , founded by...",P272,production company,Q126399,P272,"employer, owned by, record label, producer, pr...","P108, P127, P264, P162, P272, P112, P750, P749...","[Commons category, employer, instance of, owne..."
1,who is a musician born in detroit,detroit,"topics main category , continent , country ...",P19,place of birth,Q12439,P19,"place of birth, home port, location, country o...","P19, P504, P276, P495, P483, P551, P291, P527,...","[topics main category, place of birth, contine..."
2,who produced the film rough house rosie,rough house rosie,"IMDb ID , Commons category , instance of , ...",P162,producer,Q7370831,P162,,,"[IMDb ID, Commons category, instance of, direc..."
3,what is the language in which mera shikar was ...,mera shikar,"IMDb ID , instance of , director , cast me...",P364,original language of film or TV show,Q6817891,P364,,,"[IMDb ID, instance of, director, cast member, ..."
4,Whats the name of a battle that happened in ch...,chicago,"Dewey Decimal Classification , WOEID , topi...",P276,location,Q1297,P276,"place of birth, residence, place of publicatio...","P19, P551, P291, P276, P180, P190, P195, P559,...","[Dewey Decimal Classification, place of birth,..."
...,...,...,...,...,...,...,...,...,...,...
30879,What is the nationality of anthony bailey,anthony bailey,"instance of , sex or gender , given name , ...",P27,country of citizenship,Q16093542,P27,,,"[instance of, sex or gender, given name, occup..."
30880,who was homi k. bhabha especially influenced by,homi k. bhabha,"VIAF ID , ISNI , Library of Congress author...",P737,influenced by,Q325741,P737,"spouse, author","P26, P50","[VIAF ID, spouse, ISNI, author, Library of Con..."
30881,which artist composes video game music,video game music,"topics main category , Freebase ID , Common...",P136,genre,Q1062702,P136,"field of work, instance of, genre, subclass of...","P101, P31, P136, P279, P921, P1382, P1889, P30...","[topics main category, field of work, Freebase..."
30882,What gender is gastón filgueira,gastón filgueira,"member of sports team , occupation , date o...",P21,sex or gender,Q926822,P21,,,"[member of sports team, occupation, date of bi..."
30883,what player played a defender?,defender,"Freebase ID , Commons category , topics mai...",P413,position played on team / speciality,Q336286,P413,"position played on team / speciality, subclass...","P413, P279, P301, P39, P106, P86, P5137, P2868...","[Freebase ID, position played on team / specia..."

In [159]:
new_training_data.to_csv('./3-Relation_Linking_Data/2-final_input/training_data.csv', index=False)

## Validation Data

In [160]:
val_data_obj_1 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/val_data_find_obj.csv')
val_data_obj_2 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/val_data_find_obj_2.csv')

val_data_obj = pd.concat([val_data_obj_1, val_data_obj_2])

In [161]:
val_data_obj['relation_id'] = val_data_obj.apply(clean_row_ids, axis=1)
val_data_obj['relation_labels'] = val_data_obj.apply(clean_relation_labels, axis=1)

In [162]:
val_data_obj = val_data_obj.drop_duplicates(subset=['questions', 'target_relation'])

In [163]:
val_data_obj = val_data_obj.rename(columns={'questions': 'question', 'relation_id': 'relation_obj_labels', 'relation_labels': 'relation_obj_ids', 'target_relation': 'target relation id'})

In [164]:
val_data = pd.read_csv('./3-Relation_Linking_Data/1-csv_format/validation_data.csv').drop_duplicates()
len(val_data)

4412

In [165]:
val_data['relation labels'] = val_data.apply(clean_relation_labels_original, axis= 1)

In [166]:
new_val_data = pd.merge(val_data, val_data_obj, how="left", on='question')

In [167]:
new_val_data = new_val_data.drop_duplicates(subset=['question', 'target relation id_x', 'target relation id_y'])

In [168]:
new_val_data = new_val_data.reset_index(drop=True)

In [169]:
new_val_data['combined relations'] = new_val_data.apply(combine_relations, axis = 1)

In [173]:
new_val_data.to_csv('./3-Relation_Linking_Data/2-final_input/validation_data.csv', index=False)

In [174]:
new_val_data

,question,entity label,relation labels,target relation id_x,target relation label,qid,target relation id_y,relation_obj_labels,relation_obj_ids,combined relations
0,where was sasha vujačić born,sasha vujačić,"sex or gender , occupation , member of spor...",P19,place of birth,Q318926,P19,,,"[sex or gender, occupation, member of sports t..."
1,What was Seymour Parker Gilbert's profession?,Seymour Parker Gilbert,"sex or gender , VIAF ID , GND ID , place o...",P106,occupation,Q2275923,P106,main subject,P921,"[sex or gender, main subject, VIAF ID, GND ID,..."
2,in what french city did antoine de févin die,antoine de févin,"VIAF ID , ISNI , MusicBrainz artist ID , i...",P20,place of death,Q2856873,P20,main subject,P921,"[VIAF ID, main subject, ISNI, MusicBrainz arti..."
3,What job does jamie hewlett have,jamie hewlett,"VIAF ID , ISNI , Library of Congress author...",P106,occupation,Q522966,P106,"spouse, creator, cast member, has part(s, cove...","P26, P170, P161, P527, P736, P110","[VIAF ID, spouse, ISNI, creator, Library of Co..."
4,what country is ghost house from,ghost house,"instance of , original language of film or T...",P495,country of origin,Q624731,P495,different from,P1889,"[instance of, different from, original languag..."
...,...,...,...,...,...,...,...,...,...,...
4407,what is the sex of seumas o'kelly?,seumas o'kelly,"VIAF ID , ISNI , sex or gender , instance ...",P21,sex or gender,Q3480757,P21,,,"[VIAF ID, ISNI, sex or gender, instance of, Fr..."
4408,which position did herby fortunat play in foot...,herby fortunat,"family name , occupation , instance of , F...",P413,position played on team / speciality,Q3709870,P413,,,"[family name, occupation, instance of, Freebas..."
4409,what kind of film is the pianist (2002 film),the pianist,"AlloCiné film ID , instance of , director ,...",P136,genre,Q150804,P136,"notable work, main subject, Wikidata property ...","P800, P921, P1855, P4969","[AlloCiné film ID, notable work, instance of, ..."
4410,where was jon seda given birth,jon seda,"VIAF ID , ISNI , country of citizenship , ...",P19,place of birth,Q1343857,P19,"cast member, performer","P161, P175","[VIAF ID, cast member, ISNI, performer, countr..."
4411,What is nikolaj frobenius's profession?,nikolaj frobenius,"VIAF ID , ISNI , instance of , date of bir...",P106,occupation,Q2981169,P106,"author, screenwriter","P50, P58","[VIAF ID, author, ISNI, screenwriter, instance..."

In [172]:
len(new_val_data)

4412

## Test Data

In [193]:
test_data_obj_1 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/test_data_find_obj.csv')
test_data_obj_2 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/test_data_find_obj_2.csv')

test_data_obj = pd.concat([test_data_obj_1, test_data_obj_2])

In [194]:
test_data_obj['relation_id'] = test_data_obj.apply(clean_row_ids, axis=1)
test_data_obj['relation_labels'] = test_data_obj.apply(clean_relation_labels, axis=1)

In [195]:
test_data_obj = test_data_obj.drop_duplicates(subset=['questions', 'target_relation'])

In [196]:
test_data_obj = test_data_obj.rename(columns={'questions': 'question', 'relation_id': 'relation_obj_labels', 'relation_labels': 'relation_obj_ids', 'target_relation': 'target relation id'})

In [212]:
test_data = pd.read_csv('./3-Relation_Linking_Data/1-csv_format/test_data.csv').drop_duplicates()
len(test_data)

9918

In [213]:
test_data.head()

,question,entity label,relation labels,target relation id,target relation labels
0,Which genre of album is harder.....faster?,NaN,"[ record label , instance of , follows , fo...",P136,genre
1,what city was alex golfis born in,alex golfis,"[ instance of , sex or gender , occupation ,...",P19,place of birth
2,what film is by the writer phil hay?,phil hay,"[ instance of , sex or gender , country of c...",P58,screenwriter
3,Where did roger marquis die,roger marquis,"[ date of birth , date of death , instance o...",P20,place of death
4,what was the cause of death of yves klein,yves klein,"[ sex or gender , place of birth , VIAF ID ,...",P509,cause of death

In [214]:
test_data_obj.head()

,qid,target relation id,question,relation_obj_labels,relation_obj_ids
0,Q5487302,P136,Which genre of album is harder.....faster?,"follows, followed by, part of","P155, P156, P361"
1,Q16330302,P19,what city was alex golfis born in,cast member,P161
2,Q16225521,P58,what film is by the writer phil hay?,"father, spouse, screenwriter, producer","P22, P26, P58, P162"
3,Q7358590,P20,Where did roger marquis die,different from,P1889
4,Q154335,P509,what was the cause of death of yves klein,"spouse, founded by, child, father, influenced ...","P26, P112, P40, P22, P737, P61, P86, P710, P50..."

In [215]:
test_data['relation labels'] = test_data.apply(clean_relation_labels_original, axis= 1)

In [224]:
test_data

,question,entity label,relation labels,target relation id,target relation labels
0,Which genre of album is harder.....faster?,NaN,"record label , instance of , follows , fol...",P136,genre
1,what city was alex golfis born in,alex golfis,"instance of , sex or gender , occupation , ...",P19,place of birth
2,what film is by the writer phil hay?,phil hay,"instance of , sex or gender , country of ci...",P58,screenwriter
3,Where did roger marquis die,roger marquis,"date of birth , date of death , instance of...",P20,place of death
4,what was the cause of death of yves klein,yves klein,"sex or gender , place of birth , VIAF ID , ...",P509,cause of death
...,...,...,...,...,...
9956,who was the creator of the fictional character...,doctor faustus,"from narrative universe , Freebase ID , cou...",P170,creator
9957,what's a college sporting event that took plac...,oklahoma city,"topics main category , Dewey Decimal Classif...",P276,location
9958,what celestial object is 2974 holden,2974 holden,"named after , discoverer or inventor , foll...",P31,instance of
9959,what is the film genre for snow falling on ced...,snow falling on cedars,"instance of , IMDb ID , director , cast me...",P136,genre
9960,what nationality is lucille clifton?,lucille clifton,"VIAF ID , ISNI , MusicBrainz artist ID , G...",P27,country of citizenship

In [225]:
new_test_data = pd.merge(test_data, test_data_obj, how="left", on='question')

In [227]:
new_test_data.columns

Index(['question', 'entity label', 'relation labels', 'target relation id_x',
       'target relation labels', 'qid', 'target relation id_y',
       'relation_obj_labels', 'relation_obj_ids'],
      dtype='object')

In [218]:
new_test_data = new_test_data.drop_duplicates(subset=['question', 'target relation id_x', 'target relation id_y'])

In [219]:
new_test_data

,question,entity label,relation labels,target relation id_x,target relation labels,qid,target relation id_y,relation_obj_labels,relation_obj_ids
0,Which genre of album is harder.....faster?,NaN,"record label , instance of , follows , fol...",P136,genre,Q5487302,P136,"follows, followed by, part of","P155, P156, P361"
1,what city was alex golfis born in,alex golfis,"instance of , sex or gender , occupation , ...",P19,place of birth,Q16330302,P19,cast member,P161
2,what film is by the writer phil hay?,phil hay,"instance of , sex or gender , country of ci...",P58,screenwriter,Q16225521,P58,"father, spouse, screenwriter, producer","P22, P26, P58, P162"
3,Where did roger marquis die,roger marquis,"date of birth , date of death , instance of...",P20,place of death,Q7358590,P20,different from,P1889
4,what was the cause of death of yves klein,yves klein,"sex or gender , place of birth , VIAF ID , ...",P509,cause of death,Q154335,P509,"spouse, founded by, child, father, influenced ...","P26, P112, P40, P22, P737, P61, P86, P710, P50..."
...,...,...,...,...,...,...,...,...,...
9915,who was the creator of the fictional character...,doctor faustus,"from narrative universe , Freebase ID , cou...",P170,creator,Q1447249,P170,enemy of,P7047
9916,what's a college sporting event that took plac...,oklahoma city,"topics main category , Dewey Decimal Classif...",P276,location,Q34863,P276,"item for this sense, place of birth, place of ...","P5137, P19, P20, P131, P190, P36, P159, P937, ..."
9917,what celestial object is 2974 holden,2974 holden,"named after , discoverer or inventor , foll...",P31,instance of,Q582715,P31,"follows, followed by","P155, P156"
9918,what is the film genre for snow falling on ced...,snow falling on cedars,"instance of , IMDb ID , director , cast me...",P136,genre,Q582147,P136,derivative work,P4969
9919,what nationality is lucille clifton?,lucille clifton,"VIAF ID , ISNI , MusicBrainz artist ID , G...",P27,country of citizenship,Q458750,P27,"influenced by, participant, contributor to the...","P737, P710, P767, P1346, P921"

In [220]:
new_test_data = new_test_data.reset_index(drop=True)

In [221]:
new_test_data['combined relations'] = new_test_data.apply(combine_relations, axis = 1)

In [222]:
new_test_data.to_csv('./3-Relation_Linking_Data/2-final_input/test_data.csv', index=False)

In [223]:
len(new_test_data)

9920