In [1]:
import pandas as pd

In [3]:
def clean_row(row):
    row['relation_id'] = row['relation_id'].replace('dict_keys(', '')
    row['relation_id'] = row['relation_id'].replace(')', '')
    row['relation_id'] = row['relation_id'].replace("'", '')
    row['relation_id'] = row['relation_id'].replace("[", '')
    row['relation_id'] = row['relation_id'].replace("]", '')
    return row['relation_id']

In [11]:
training_data_obj_1 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/training_data_find_obj.csv')
training_data_obj_2 = pd.read_csv('./3-Relation_Linking_Data/0-preprocess/training_data_find_obj_2.csv')

training_data_obj = pd.concat([training_data_obj_1, training_data_obj_2])

In [12]:
training_data_obj['relation_id'] = training_data_obj.apply(clean_row, axis=1)

In [17]:
len(training_data_obj)

33779

In [25]:
training_data_obj[['questions', 'qid', 'relation_id', 'target_relation']]

,questions,qid,relation_id,target_relation
0,what movie is produced by warner bros.,Q126399,"employer, owned by, record label, producer, pr...",P272
1,who is a musician born in detroit,Q12439,"place of birth, home port, location, country o...",P19
2,who produced the film rough house rosie,Q7370831,,P162
3,what is the language in which mera shikar was ...,Q6817891,,P364
4,Whats the name of a battle that happened in ch...,Q1297,"place of birth, residence, place of publicatio...",P276
...,...,...,...,...
16881,where did maulana azad pass away,Q196617,"spouse, child, named after, discoverer or inve...",P20
16882,what person is a composer?,Q36834,"occupation, instance of, field of work, depict...",P106
16883,Name a person born in slovenia.,Q215,"country of origin, country, place of publicati...",P19
16884,Which country is the film zindagi khoobsoorat ...,Q8072343,,P495
16885,which orbit has relationship with 12426 racque...,Q576886,"follows, followed by",P397

In [22]:
training_data_obj

,qid,target_relation,questions,relation_id,relation_labels
0,Q126399,P272,what movie is produced by warner bros.,"employer, owned by, record label, producer, pr...","dict_values(['P108', 'P127', 'P264', 'P162', '..."
1,Q12439,P19,who is a musician born in detroit,"place of birth, home port, location, country o...","dict_values(['P19', 'P504', 'P276', 'P495', 'P..."
2,Q7370831,P162,who produced the film rough house rosie,,dict_values([])
3,Q6817891,P364,what is the language in which mera shikar was ...,,dict_values([])
4,Q1297,P276,Whats the name of a battle that happened in ch...,"place of birth, residence, place of publicatio...","dict_values(['P19', 'P551', 'P291', 'P276', 'P..."
...,...,...,...,...,...
16881,Q196617,P20,where did maulana azad pass away,"spouse, child, named after, discoverer or inve...","['P26', 'P40', 'P138', 'P61', 'P180', 'P674', ..."
16882,Q36834,P106,what person is a composer?,"occupation, instance of, field of work, depict...","['P106', 'P31', 'P101', 'P180', 'P279', 'P287'..."
16883,Q215,P19,Name a person born in slovenia.,"country of origin, country, place of publicati...","['P495', 'P17', 'P291', 'P301', 'P921', 'P205'..."
16884,Q8072343,P495,Which country is the film zindagi khoobsoorat ...,,[]
16885,Q576886,P397,which orbit has relationship with 12426 racque...,"follows, followed by","['P155', 'P156']"

In [23]:
pd.read_csv('./3-Relation_Linking_Data/1-csv_format/training_data.csv').drop_duplicates()

,question,entity label,relation labels,target relation id,target relation label
0,what movie is produced by warner bros.,warner bros.,"[ Commons category , instance of , founded b...",P272,production company
1,who is a musician born in detroit,detroit,"[ topic's main category , continent , countr...",P19,place of birth
2,who produced the film rough house rosie,rough house rosie,"[ IMDb ID , Commons category , instance of ,...",P162,producer
3,what is the language in which mera shikar was ...,mera shikar,"[ IMDb ID , instance of , director , cast m...",P364,original language of film or TV show
4,Whats the name of a battle that happened in ch...,chicago,"[ Dewey Decimal Classification , WOEID , top...",P276,location
...,...,...,...,...,...
31222,What is the nationality of anthony bailey,anthony bailey,"[ instance of , sex or gender , given name ,...",P27,country of citizenship
31223,who was homi k. bhabha especially influenced by,homi k. bhabha,"[ VIAF ID , ISNI , Library of Congress autho...",P737,influenced by
31224,which artist composes video game music,video game music,"[ topic's main category , Freebase ID , Comm...",P136,genre
31225,What gender is gastÃ³n filgueira,gastÃ³n filgueira,"[ member of sports team , occupation , date ...",P21,sex or gender
31226,what player played a defender?,defender,"[ Freebase ID , Commons category , topic's m...",P413,position played on team / speciality